@use './components' as com;
@use './colors' as c;
@use './mixins' as mix;

*::after,
*::before,
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	//font-family: 'Dancing Script', cursive;
	font-size: 1.6rem;
	background-color: #333;
}
